[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
numpy = "*"
kfp = "*"
kfp-tekton = "*"
torch = "*"

[dev-packages]

[requires]
python_version = "3.8"
